<div id="sidenav" class="col-lg-2 no-float">
    <div class="row">
        <nav id="side-navbar" class="col-lg-12 navbar navbar-fixed-side">
            <a class="btn" id="sidenav-item" href="{{ path('cdc_core_dashboardpage') }}">
                <span class="pull-left" id="sidenav-span">
                    <i class="fa fa-tachometer-alt"></i>
                </span>
                <span class="pull-left">Tableau de bord</span>
            </a>
            <hr class="half-rule">
            <a class="btn" id="sidenav-item" href="{{ path('cdc_core_transfertpage') }}">
                <span class="pull-left" id="sidenav-span">
                    <i class="fa fa-exchange-alt"></i>
                </span>
                <span class="pull-left">Transferts</span>
            </a>
            <hr class="half-rule">
            <a class="btn" id="sidenav-item" href="{{ path('cdc_core_budgetpage') }}">
                <span class="pull-left" id="sidenav-span">
                    <i class="fa fa-coins"></i>
                </span>
                <span class="pull-left">Budget</span>
            </a>
            <hr class="half-rule">
            <a class="btn" id="sidenav-item" href="{{ path('cdc_core_comptepage') }}">
                <span class="pull-left" id="sidenav-span">
                    <i class="fa fa-university"></i>
                </span>
                <span class="pull-left">Comptes</span>
            </a>
            <hr class="half-rule">
            <a class="btn" id="sidenav-item" href="{{ path('cdc_core_categoriepage') }}">
                <span class="pull-left" id="sidenav-span">
                    <i class="fa fa-list-ol"></i>
                </span>
                <span class="pull-left">Categories</span>
            </a>
            <hr class="half-rule">
        </nav>
    </div>
</div>