<div class="row" style="margin-bottom:30px;">
    <div class="col-lg-1">
        <a href="{{ path('cdc_core_dashboardpage', {'month' : previous_month, 'year' : previous_year}) }}" type="button" class="btn btn-lg btn-primary"><i class="fa fa-chevron-left"></i></a>
    </div>
    <div class="col-lg-10 text-center">
        <div class="resume-mois-titre" data-month-number="{{ month_number }}" data-year-number="{{ year }}">{{ month }} {{ year }}</div>
    </div>
    <div class="col-lg-1">
        {% if next_month is defined and next_year is defined %}
            <a href="{{ path('cdc_core_dashboardpage', {'month' : next_month, 'year' : next_year}) }}" type="button" class="btn btn-lg pull-right btn-primary"><i class="fa fa-chevron-right"></i></a>
        {% else %}
            <a href="{{ path('cdc_core_resumepage') }}" type="button" class="btn btn-lg pull-right btn-primary"><i class="fa fa-chevron-right"></i></a>
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="grid">
            <div class="grid-header bg-profile">
                <span class="grid-title">Dépenses par catégorie</span>
            </div>
            <div class="grid-body profile">
                <div class="row" data-compte-id-a="{{ compte_id_a }}" data-compte-nom-a="{{ compte_nom_a }}" style="margin-bottom:15px;margin-top:15px;">
                    <div class="col-lg-1">
                        <i class="fa fa-chevron-left depense-by-categorie-nav" data-direction="-1"></i>
                    </div>

                    <div class="col-lg-3 text-center compte-titre-nav" data-direction="-1"></div>
                    <div class="col-lg-4 text-center compte-titre-current"></div>
                    <div class="col-lg-3 text-center compte-titre-nav" data-direction="1"></div>

                    <div class="col-lg-1">
                        <i class="fa fa-chevron-right depense-by-categorie-nav" data-direction="1"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div id="dashboard_pie_chart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-lg-6">
        <div class="grid">
            <div class="grid-header bg-profile">
                <span class="grid-title">Budgets</span>
            </div>
            <div class="grid-body profile">
                <div class="row">
                    <div class="col-lg-12">
                        {% for budget_instance in budget_instance_a %}
                            {% set width = (budget_instance.currentvalue * 100)/budget_instance.seuil %}
                            <div class="progress text-center">
                                <div class="progress-bar
                                    {% if budget_instance.currentvalue < budget_instance.seuil %}
                                        progress-bar-success
                                    {% else %}
                                        progress-bar-danger
                                    {% endif %}
                                    progress-bar-striped" role="progressbar" aria-valuenow="{{ budget_instance.currentvalue }}" aria-valuemin="0" aria-valuemax="{{ budget_instance.seuil }}" style="width:{{ width }}%">
                                    <span><b>
                                        {% if budget_instance.budgetmodele.categorie %}
                                            {{ budget_instance.budgetmodele.categorie.titre }}
                                        {% else %}
                                            Global
                                        {% endif %}
                                         : {{ budget_instance.currentvalue }} / {{ budget_instance.seuil }}
                                    </b></span>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
